<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workout Details</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5 mx-auto">
    <h1 class="text-center display-4">Workout Details</h1>
    <div class="row mt-5">
      <div class="col-3">
        <p>ID:</p>
      </div>
      <div class="col-9">
        <p th:text="${workout.id}"></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3">
        <p>Type:</p>
      </div>
      <div class="col-9">
        <p th:text="${workout.type}"></p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3">
        <p>Date:</p>
      </div>
      <div class="col-9">
        <p th:text="${workout.date}"></p>
      </div>
    </div>
  </div>
</body>
</html>